//colors
$gray: #777;
$dime-gray: #696969;
$light-gray: #C0C0C0;
$background-base-pink: #FED2D7;
$background-lighter-pink: #FEDBDF;
$background-light-pink: #FEE4E7;
$background-extra-light-pink: #FEEEF0;
$background-ultra-light-pink: #FEF6F7;

//sizes
$td-size: 100px;
$game-tool-size: 8vh;;

//fonts
$main-font: 'Permanent Marker';
